<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>StoneSoup</title>
  <link rel="stylesheet" href="qunit.css" type="text/css" media="screen">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="qunit.js"></script>
  <script src="myscript.js"></script>
  <script src="test.js"></script>

</head>
<body>
  <h1 id="qunit-header">StoneSoup</h1>
  <h2 id="qunit-banner"></h2>
  <div id="qunit-testrunner-toolbar"></div>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests"></ol>
  <div id="qunit-fixture">
    <h2>Welcome to our kitchen!</h2>
    <p>Here's what you should make today!</p>
  </div>
</body>
</html>
